<div *ngIf="ifloaded">
    <div class="play-list-header" >
        <div class="cover">
            <div class="cover-mock">
                <img src="{{data.img}}" height="250px" width="200px" alt="">
            </div>
        </div>
        <div class="content-text">
            
            <span style="font-size: 4rem;">Perfil</span>
            <span style="font-size:19px">Usario:: &nbsp; &nbsp;&nbsp;  {{data.username}} </span>
            <span style="font-size:19px">Nombre::&nbsp; &nbsp; {{data.name}}</span>
            <span style="font-size:19px">Edad:: &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;{{data.age}}</span>
            <span style="font-size:19px">Estado:: &nbsp; &nbsp;&nbsp; {{data.status}}</span>
           
        </div>
    </div>
 
    
</div>


